@charset "utf-8";
/* Custom rules */
.inline {
    display: inline-block;
}

.error {
    color: red;
}

.close-btn {
    border: none;
    float: right;
    background-color: transparent;
}

.line {
    display: inline-block;
}


.board {
    display: inline-box;
    max-width: 100%;
    margin: 0 auto;
    border-style: solid;
    border-width: 0px 0 0 0px;
    border-color: black;
}

.board img {
    width: 80px;
    height: 120px;
    margin: 10px;
    padding: 0;
    border-style: none;
}